<h1>Faves</h1>

<div class="container">
  <% @memes.each do |meme| %>
    <div class="meme">
      <h3><%= meme.title %></h3>
      <a href="<%= meme.imgur_url %>" target="_blank">
        <% if meme.image_link.include?('.mp4') %>
          <%= video_tag(meme.image_link, autoplay: true, muted: true, loop: true) %>
        <% else %>
          <%= image_tag(meme.image_link) %>
        <% end %>
      </a>
      <%= link_to( image_tag("liked-button"), edit_meme_path(meme), class: "icon", remote: true) %>
      <p class="likes" id="image-<%=meme.id%>-likes"><%= meme.likes %> likes</p>
    </div>
  <% end %>
</div>