<h1>Faves</h1>

<div class="container">
  <% @memes.each do |meme| %>
    <div class="meme">
      <h3 class="link"><a href="<%= meme.imgur_url %>" target="_blank"><%= meme.title %></a></h3>
      <% if meme.image_link.include?('.mp4') %>
        <%= video_tag(meme.image_link, autoplay: true, muted: true, loop: true) %>
      <% else %>
        <%= image_tag(meme.image_link) %>
      <% end %>
      <%= link_to( image_tag("liked-button.png"), edit_fafe_path(meme), class: "icon", remote: true) %>
      <p class="likes" id="image-<%=meme.id%>-likes"><%= meme.likes %> likes</p>
    </div>
  <% end %>
</div>