<% if @valid_memes.empty? %>
  <h1>Sorry, no memes found for <%= @query %></h1>
<% else %>
  <div class="container">
    <% @valid_memes.each do |meme| %>
      <div class="image">
        <h3><a href="<%= meme['link'] %>" target="_blank"><%= meme['title'] %></a></h3>
        <% if meme['images'][0]['link'].include?('.mp4') %>
          <%= video_tag(meme['images'][0]['link'], autoplay: true, muted: true, loop: true) %>
        <% else %>
          <%= image_tag(meme['images'][0]['link']) %>
        <% end %>
        <%= form_for @meme, remote: true, authenticity_token: true, data: { type: :script } do |f| %>
          <%= f.hidden_field :title, value: meme['title'] %>
          <%= f.hidden_field :imgur_url, value: meme['link'] %>
          <%= f.hidden_field :image_link, value: meme['images'][0]['link'] %>
          <%= image_submit_tag("like-button.png", onclick: "this.src='#{image_path("liked-button.png")}'") %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>